.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  width: 100%;
  height: 4.5rem;
  background-color: var(--bg);
  color: var(--header-text);
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
  /* left: 0; */
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.center {
  display: flex;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_text {
  font-weight: 200;
  font-size: 2.5rem;
  color: var(--header-text);
}

span.grad {
  font-weight: 700;
  background: linear-gradient(to right, #f93d99, #7c54f1);
  background-clip: text;
  color: transparent;
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  margin-right: 1rem;
  display: inline-block;
}

@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
