.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 1rem;
  text-align: center;
  justify-items: center;
}

.sticky {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 100%;
}