:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-bg: #202123;
  --header-text: #ffffff;
  --footer-bg: #202123;
  --footer-text: #ffffff;

  --background: #343541;
  --text-color: #ffffff;
  --accent-color: #7c54f1;

  --accordion-bg: #1e1e2f;
  --accordion-header-bg: #2b2b3c;
  --accordion-border: #444;
  transition: all 0.3s ease;
}

[data-theme='light'] {
  --header-bg: #ffffff;
  --header-text: #1a1a1a;
  --footer-bg: #f1f1f1;
  --footer-text: #1a1a1a;

  --background: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #a78bfae3;

  --accordion-bg: #fff;
  --accordion-header-bg: #f9f9f9;
  --accordion-border: #ccc;
  
}
